.blog-post-content {
    width: 100% !important;
}

.custom-title {
    font-family: "poppins";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.about-me p {
    margin-bottom: 10px;
}