<footer id="footer">
    {{ if .Site.Social }} {{ partial "social.html" . }} {{ end }}
    <p class="small">
        {{ with .Site.Params.copyright }} {{ . | markdownify }} {{ else }} © {{ now.Format "2006"}}. Abu Dhabi
        <i class="fa fa-heart" aria-hidden="true"> </i> | {{ .Site.Params.Author }} {{ end }}
    </p>
    <!-- Calendly badge widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script type="text/javascript">
        window.onload = function() {
            Calendly.initBadgeWidget({
                url: "https://calendly.com/cruisemaniac",
                text: "Schedule time with me",
                color: "#06599D",
                textColor: "#ffffff",
                branding: false,
            });
        };
    </script>
    <!-- Calendly badge widget end -->
</footer>